.unicorn-button {
    background-color: transparent !important;
    border: 2px solid $main-color !important;
    color: $main-color !important;

    &:hover {
        background-color: $main-color !important;
        color: $hover-color !important;
    }
}